html{
  font-size: 16px;
}
body{
  font-family: 'Alice', serif;
  text-align: center;
  background-color: #222831;
}

/* profile */
#profile{
  background: radial-gradient(231.25% 253.26% at 50% 50%, #393e46 0% ,rgba(57, 62, 70, 0)100%);
}
.me{
  width: 70%;
  border: 2px solid #eeeeee;
  border-radius: 50%;
}
.name{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  color: #eeeeee;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: underline;
}
.bio{
  color: #eeeeee;
  font-size: 1rem;
}
.design{
  border: 2px solid #1C6EA4;
  border-radius: 40px 0px 40px 0px;
}
/* profile */

/* web-links */
.icons{
  font-size: 4rem;
  color: #eeeeee;
}

/* text-animation */
.welcome{
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  color: #eeeeee;
  margin-top: 2rem;
}
.text{
  display: none;
}
/* text-animation */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  body{
    padding: 7% 5%;
  }
  #profile{
    width: 70%;
    background: none;
  }
  .me{
    width: 60%;
  }
  .icons-margin{
    margin-top: 10% !important;
  }
  .icons{
    font-size: 5rem;
  }
 i:hover{
    color: #00adb5;
    transition: 0.9s;
    transform: rotateY(360deg);
  }
  .tablet{
    display: flex;
    flex-direction: row;
  }
  .text{
    width: 50%;
  }
  .hide{
    display: none;
  }
}
/* Medium devices (tablets, 1024px and up) */
@media (min-width: 1024px){
  #profile{
    width: 50%;
    background: none;
  }
  .name{
    font-size: 4rem;
  }
  .bio{
    font-size: 2rem;
  }
  .icons{
    font-size: 6.5rem;
  }
  .me{
    width: 60%;
  }
}
/* Medium devices (tablets, 1440px and up) */
@media (min-width: 1440px){
  .name{
    font-size: 4rem;
  }
  .bio{
    font-size: 2rem;
  }
  .icons{
    font-size: 8rem;
  }
  .icons-margin{
    margin-top: 3% !important;
  }
}
